@media (max-width: 768px){

  .logo{
    height: 45%;
    width: 45%;
    margin: 10px 5px;
  }

  .nav-btn{
    display: none;
  }

  }

@media (min-width: 769px) {
  .logo{
    height: 20%;
    width: 20%;
  }

  .menu-button{
      display: none;
  }

  .nav-btn{
    display: flex;
    justify-content: space-around;
  }

}